.hero{
    width: 100%;
    height: 100vh;
}
.image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.heroBackgrd {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 8, 12, 0.587); 
}
.p{
    position: absolute;
    left: 7.5%;
    top: 37%;
    color: lightgray;
    font-size: 55px;
    font-weight: 500;
    line-height: 60px;
}
.span{
    font-size: 70px;
    font-weight: 600;
    color: rgb(90, 191, 225);
}
.pRight1{
    position: absolute;
    right: 17%;
    top: 20%;
    color: lightgray;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    /* line-height: 10px; */
    
}
/* .pRight1{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
} */
.h2{
    font-size: 30px;
}
.colorful{
    position: absolute;
    bottom: 11%;
    left: 7.5%;
    font-size: 20px;
    font-weight: 300;
    color: white;
}
.color1{
    width: 30rem;
    background-color: rgb(218, 104, 78);
    padding: 18px;
}
.color2{
    width: 25rem;
    background-color: rgb(26, 148, 218);
    padding: 18px;
    margin-top: -17px;
}
.color3{
    width: 20rem;
    background-color: rgb(188, 145, 89);
    padding: 18px;
    z-index: 3;
    margin-top: -17px;
    color: black;
}.color4{
    width: 15rem;
    background-color: rgb(46, 15, 11);
    padding: 18px;
    z-index: 4;
    margin-top: -17px;
}