.container{
    height: 100vh;
    display: flex;
    padding: 20px;
    background-color: rgb(33, 33, 53);
}
.left{
    width: 55%;
    height: 100%;
    position: relative;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-bottom-left-radius: 60px;
    border-top-left-radius: 60px; */
    border-radius: 20px;

}
.right{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.heroBackgrd {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(4, 46, 74, 0.43); 
border-radius: 20px;
}
.btn{
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 4%;
    right: 2%;
    width: 13rem;
    border-radius: 50px;
    border: none;
    backdrop-filter: blur(10px) brightness(0.8);
    background-color: transparent;
    cursor: pointer;
    color: white;
    height: 2.8rem;
    font-size: 18px;
    gap: 0.4rem;
}
.h1{
    position: absolute;
    top: 3.4%;
    color: lightblue;
    font-size: 30px;
    font-weight: 500;
    left: 3%;
}
.p{
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50% , -50%);
    font-size: 40px;
    width: fit-content;
    text-align: center;
    color: white;
    font-weight: 500;

}
.h2{
    font-size: 65px;
    color: white;
    font-weight: 500;
    letter-spacing: -5px;
}
.p2{
    font-size: 18px;
    color: white;
    opacity: 0.6;
}
.register{
    color: rgb(159, 60, 252);
}
.form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 1rem;
    gap: 1.5rem;
}
.input{
    height: 3.4rem;
    border-radius: 8px;
    border: none;
    background-color: rgb(77, 77, 83);
    color: white;
    padding-left: 1.4rem;
    font-size: 17px;
}
.button{
    height: 3.4rem;
    border: none;
    border-radius: 8px;
    background-color: rgb(91, 49, 158);
    color: white;
    font-size: 18px;
}
@media screen and (max-width :1233px) {
    .h2{
        font-size: 50px;
        letter-spacing: -2px;
    }
}
@media screen and (max-width :1032px) {
   .right{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    background-color: rgba(10, 8, 48, 0.659);
    backdrop-filter: blur(1px) brightness(1);
    height: fit-content;
    border-radius: 30px;
    padding: 1.5rem 0.8rem 3rem 0.8rem;

   }.left{
    width: 100%;
   }
   .h2{
    font-size: 40px;
    text-align: center;
   }
   .p2{
    font-size: 14px;
   }
   .input2{
    height: 2.5rem;
    font-size: 14px;
   }
   .input{
    height: 2.5rem;
    font-size: 14px;
   }
   .form{
    gap: 1rem;
    width: 97%;
   }
}
@media screen and (max-width :600px) {
    .right{
        width: 80%;
    }
    .p{
        font-size: 25px;
        line-height: 30px;
        top: 89%;
    }
    .none{
        display: none;
    }
    .btn{
        width: 4rem;
    }
    .h2{
        line-height: 38px;
    }

}